.main{background-color: blue;}
#content{
  font-size: 90px;
  color: gray;
  font-style: oblique;
  text-align: center;
}
#content:hover
{
        -webkit-transform: scale(1.3);
        -ms-transform: scale(1.3);
        transform: scale(1.3);
}
body{
  text-align: center;
}
main{
  background-color: #add8e6
}
button {border-radius: 4px;}
